// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2026 bingo1991
 */

/dts-v1/;

#include <dt-bindings/clock/rockchip,rk3588-cru.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/gpio-keys.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/soc/rockchip,vop2.h>
#include <dt-bindings/usb/pd.h>
#include "rk3588.dtsi"

/ {
	model = "Skysi X5 Laptop";
	compatible = "rockchip,rk3588-skysi-x5", "rockchip,rk3588";
	chassis-type = "laptop";

	aliases {
		mmc0 = &sdhci;
		mmc1 = &sdmmc;
		mmc2 = &sdio;
		serial2 = &uart2;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		button-escape {
			label = "Escape";
			linux,code = <KEY_ESC>;
			press-threshold-microvolt = <1235000>;
		};

		button-menu {
			label = "Menu";
			linux,code = <KEY_MENU>;
			press-threshold-microvolt = <890000>;
		};

		button-vol-up {
			label = "Volume Up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <17000>;
		};

		button-vol-down {
			label = "Volume Down";
			linux,code = <KEY_VOLUMEDOWN>;
			press-threshold-microvolt = <417000>;
		};
	};

	amp_headphone: amplifier-headphone {
		compatible = "regulator-fixed";
		regulator-name = "hdp_power";
		gpio = <&gpio2 RK_PB6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};

	amp_speaker: amplifier-speaker {
		compatible = "regulator-fixed";
		regulator-name = "spk_power";
		gpio = <&gpio2 RK_PB7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};

	analog-sound {
		compatible = "audio-graph-card";
		label = "rk3588-es8326";

		widgets =
			"Headphone", "Headphones",
			"Speaker", "Speakers",
			"Microphone", "Headset Mic",
			"Microphone", "Main Mic";

		routing =
			"Headphones", "HPOL",
			"Headphones", "HPOR",
			"Speakers", "HPOL",
			"Speakers", "HPOR",
			"MIC1", "Headset Mic",
			"MIC2", "Main Mic";

		dais = <&i2s0_8ch_p0>;
		hp-det-gpios = <&gpio1 RK_PD0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_detect>;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		brightness-levels = <0 255>;
		default-brightness-level = <200>;
		num-interpolated-steps = <255>;
		power-supply = <&vcc3v3_lcd_edp>;
		pwms = <&pwm15 0 25000 0>;
		enable-gpios = <&gpio4 RK_PB5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_backlight_en>;
	};

	battery: battery {
		compatible = "simple-battery";
		charge-full-design-microamp-hours = <6000000>;
		constant-charge-current-max-microamp = <5000000>;
		constant-charge-voltage-max-microvolt = <8700000>;
		voltage-max-design-microvolt = <8700000>;
		voltage-min-design-microvolt = <7600000>;
		power-supplies = <&dc_charger &bq257xx_charger>;
	};

	dc_charger: dc-charger {
		compatible = "gpio-charger";
		charger-type = "mains";
		charge-current-limit-default-microamp = <5000000>;
		gpios = <&gpio0 RK_PD1 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&dc_det>;
		wakeup-source;
	};

	dmic_sound: dmic-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rk3588-dmic";
		simple-audio-card,mclk-fs = <256>;

		simple-audio-card,cpu {
			format = "pdm";
			sound-dai = <&pdm1>;
		};

		simple-audio-card,codec {
			sound-dai = <&es7243e>;
		};
	};

	fan: pwm-fan {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		pwms = <&pwm13 0 50000 0>;
		cooling-levels = <0 120 150 180 210 240 255>;
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&sw_lid>;

		switch-lid {
			debounce-interval = <20>;
			gpios = <&gpio0 RK_PD2 GPIO_ACTIVE_LOW>;
			label = "Lid";
			linux,code = <SW_LID>;
			linux,input-type = <EV_SW>;
			wakeup-source;
		};
	};

	gpio_leds: gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&leds_gpio>;

		charge_indicator: led1 {
			color = <LED_COLOR_ID_GREEN>;
			default-state = "off";
			gpios = <&gpio3 RK_PD3 GPIO_ACTIVE_HIGH>;
			label = "battery_full";
			linux,default-trigger = "cw2017-battery-full";
			retain-state-suspended;
		};

		power_indicator: led2 {
			color = <LED_COLOR_ID_WHITE>;
			default-state = "off";
			gpios = <&gpio3 RK_PD4 GPIO_ACTIVE_HIGH>;
			label = "battery_charging";
			linux,default-trigger = "cw2017-battery-charging";
			retain-state-suspended;
		};
	};

	hdmi0-con {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi0_con_in: endpoint {
				remote-endpoint = <&hdmi0_out_con>;
			};
		};
	};

	pcie30_avdd0v75: regulator-pcie30-avdd0v75 {
		compatible = "regulator-fixed";
		regulator-name = "pcie30_avdd0v75";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <750000>;
		regulator-max-microvolt = <750000>;
		vin-supply = <&avdd_0v75_s0>;
	};

	pcie30_avdd1v8: regulator-pcie30-avdd1v8 {
		compatible = "regulator-fixed";
		regulator-name = "pcie30_avdd1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&avcc_1v8_s0>;
	};

	vbus5v0_typec: regulator-vbus5v0-typec {
		compatible = "regulator-fixed";
		enable-active-high;
		gpios = <&gpio1 RK_PB5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&typec5v_pwren>;
		regulator-name = "vbus5v0_typec";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_usb>;
	};

	vcc12v_dcin: regulator-vcc12v-dcin {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc3v3_lcd_edp: regulator-vcc3v3-lcd-edp {
		compatible = "regulator-fixed";
		enable-active-high;
		gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc3v3_lcd_edp_en>;
		regulator-boot-on;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "vcc3v3_lcd_edp";
		vin-supply = <&vcc_3v3_s0>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vcc3v3_pcie30: regulator-vcc3v3-pcie30 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie30";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpios = <&gpio3 RK_PC3 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <5000>;
		vin-supply = <&vcc12v_dcin>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc3v3_pcie30_en>;
	};

	vcc5v0_host: regulator-vcc5v0-host {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpios = <&gpio4 RK_PC3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
		vin-supply = <&vcc5v0_usb>;
	};

	vcc5v0_sys: regulator-vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc5v0_usbdcin: regulator-vcc5v0-usbdcin {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usbdcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc5v0_usb: regulator-vcc5v0-usb {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_usbdcin>;
	};

	vccio_1v8: regulator-vccio-1v8 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-name = "vccio_1v8";
		vin-supply = <&vcc12v_dcin>;
	};

	wifi_vbat: regulator-wifi-vbat {
		compatible = "regulator-fixed";
		enable-active-high;
		gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_pwren>;
		regulator-always-on;
		regulator-boot-on;
		regulator-name = "wifi_vbat";
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&hym8563>;
		clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;
		/*
		 * On the module itself this is one of these (depending
		 * on the actual card populated):
		 * - SDIO_RESET_L_WL_REG_ON
		 * - PDN (power down when low)
		 */
		post-power-on-delay-ms = <200>;
		reset-gpios = <&gpio0 RK_PC7 GPIO_ACTIVE_LOW>;
	};

	usb1_enable: regulator-usb1-enable {
		compatible = "regulator-fixed";
		regulator-name = "usb1_enable";
		gpio = <&gpio3 RK_PD2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vccio_1v8>;
	};

	usb2_enable: regulator-usb2-enable {
		compatible = "regulator-fixed";
		regulator-name = "usb2_enable";
		gpio = <&gpio2 RK_PB5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vccio_1v8>;
	};
};

&combphy0_ps {	// PCIe2.0 or SATA3.0 Combo PHY0
	status = "disabled";
};

&combphy1_ps {	// PCIe2.0 or SATA3.0 Combo PHY1
	status = "disabled";
};

&combphy2_psu {	// PCIe2.0 or SATA3.0 or USB3.0 HOST Combo PHY2
	status = "okay";
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_big0_s0>;
};

&cpu_b1 {
	cpu-supply = <&vdd_cpu_big0_s0>;
};

&cpu_b2 {
	cpu-supply = <&vdd_cpu_big1_s0>;
};

&cpu_b3 {
	cpu-supply = <&vdd_cpu_big1_s0>;
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l1 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l2 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l3 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&edp1 {
	force-hpd;
	status = "okay";

	aux-bus {
		panel {
			/* Autual panel AUO403D(B140HAN04.0) has applicable EDID timing
			   Use compatible BOE panel timing, but set bpc to 8 */
			compatible = "boe,nv140fhmn49";
			backlight = <&backlight>;
			bpc = <8>;
			power-supply = <&vcc3v3_lcd_edp>;
			no-hpd;

			port {
				panel_in_edp1: endpoint {
					remote-endpoint = <&edp1_out_panel>;
				};
			};
		};
	};
};

&edp1_in {
	edp1_in_vp2: endpoint {
		remote-endpoint = <&vp2_out_edp1>;
	};
};

&edp1_out {
	edp1_out_panel: endpoint {
		remote-endpoint = <&panel_in_edp1>;
	};
};

&gpu {
	mali-supply = <&vdd_gpu_s0>;
	sram-supply = <&vdd_gpu_mem_s0>;
	status = "okay";
};

&hdmi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&hdmi_en &hdmim0_tx0_hpd
		     &hdmim0_tx0_scl &hdmim0_tx0_sda>;
	status = "okay";
};

&hdmi0_in {
	hdmi0_in_vp1: endpoint {
		remote-endpoint = <&vp1_out_hdmi0>;
	};
};

&hdmi0_out {
	hdmi0_out_con: endpoint {
		remote-endpoint = <&hdmi0_con_in>;
	};
};

&hdmi0_sound {
	status = "okay";
};

&hdptxphy0 {	// HDMI or eDP Combo PHY0, use as hdmi0
	status = "okay";
};

&hdptxphy1 {	// HDMI or eDP Combo PHY1, use as edp1
	status = "okay";
};

&i2c2 {
	i2c-scl-rising-time-ns = <600>;
	i2c-scl-falling-time-ns = <20>;
	status = "okay";

	cw2017@63 {
		compatible = "cellwise,cw2017";
		reg = <0x63>;

		cellwise,battery-profile = <
			0x32000000 0x00000000 0xa2bfc9f0 0xacb19755 0x42ffffff
			0xe0b39080 0x604a2480 0xacd995d3 0xd1cfcfcc 0xc9abee99
			0xbab7bb9f 0x8c817468 0x5b5d6f8a 0xa08f573d 0x00009002
			0x00000000 0x00006400 0x00000000 0x00000000 0x00000079
		>;

		cellwise,alert-level = <10>;
		cellwise,design-capacity-amh = <6000>;
		cellwise,dual-cell;
		cellwise,monitor-interval-ms = <3000>;
		monitored-battery = <&battery>;
		power-supplies = <&dc_charger &bq257xx_charger>;
		status = "okay";
	};

	bq257xx_charger: sc8886@6b {
		compatible = "ti,bq25703a";
		reg = <0x6b>;

		interrupt-parent = <&gpio0>;
		interrupts = <RK_PD0 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&charger_int_h &otg_enable_h>;

		input-current-limit-microamp = <5000000>;
		monitored-battery = <&battery>;
		power-supplies = <&usbc0>;

		regulators {
			usb_otg_vbus: vbus {
				enable-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
				regulator-max-microamp = <3000000>;
				regulator-min-microamp = <512000>;
				regulator-name = "usb_otg_vbus";
			};
		};
	};

	usbc0: usb-typec@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PD3 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc0_int>;
		vbus-supply = <&vbus5v0_typec>;
		status = "okay";

		usb_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			/* fusb302 supports PD Rev 2.0 Ver 1.2 */
			pd-revision = /bits/ 8 <0x2 0x0 0x1 0x2>;
			op-sink-microwatt = <1000000>;
			power-role = "dual";
			sink-pdos =
				<PDO_FIXED(5000, 1000, PDO_FIXED_USB_COMM)
				 PDO_FIXED(15000, 3000, PDO_FIXED_USB_COMM)>;
			source-pdos =
				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			try-power-role = "sink";

			altmodes {
				displayport {
					svid = /bits/ 16 <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc0_hs: endpoint {
						remote-endpoint = <&usb_host0_xhci_to_usbc0>;
					};
				};

				port@1 {
					reg = <1>;
					usbc0_ss: endpoint {
						remote-endpoint = <&usbdp_phy0_ss>;
					};
				};

				port@2 {
					reg = <2>;
					usbc0_sbu: endpoint {
						remote-endpoint = <&usbdp_phy0_sbu>;
					};
				};
			};
		};
	};

	hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-output-names = "hym8563";
		pinctrl-names = "default";
		pinctrl-0 = <&hym8563_int>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PD4 IRQ_TYPE_LEVEL_LOW>;
		wakeup-source;
	};
};

&i2c3 {
	status = "okay";

	es7243e: audio-adc@10 {
		compatible = "everest,es7243e";
		reg = <0x10>;
		power-supply = <&vcc_1v8_s0>;
		#sound-dai-cells = <0>;
	};

	es8326: audio-codec@19 {
		compatible = "everest,es8326";
		reg = <0x19>;
		clocks = <&cru I2S0_8CH_MCLKOUT>;
		assigned-clocks = <&cru I2S0_8CH_MCLKOUT>;
		assigned-clock-rates = <12288000>;
		AVDD-supply = <&avcc_1v8_codec_s0>;
		DVDD-supply = <&avcc_1v8_codec_s0>;
		HPVDD-supply = <&vcc_3v3_s0>;
		PVDD-supply = <&vcc_3v3_s0>;
		#sound-dai-cells = <0>;

		interrupt-parent = <&gpio1>;
		interrupts = <RK_PD0 GPIO_ACTIVE_LOW>;
		mic1-src = <22>;
		mic2-src = <44>;
		jack-pol = <07>;

		port {
			es8326_p0_0: endpoint {
				remote-endpoint = <&i2s0_8ch_p0_0>;
			};
		};
	};
};

/* for kaihong botbook only */
&i2c4 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m3_xfer>;
	status = "okay";

	touchpad: touchpad@2c {
		compatible = "hid-over-i2c";
		reg = <0x2c>;
		pinctrl-names = "default";
		pinctrl-0 = <&tp_reset_gpio &tp_irq_gpio>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PD5 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio1 RK_PA6 GPIO_ACTIVE_LOW>;
		hid-descr-addr = <0x20>;
		wakeup-source;
	};
};

&i2s0_8ch {
	pinctrl-names = "default";
	pinctrl-0 = <&i2s0_lrck
		     &i2s0_sclk
		     &i2s0_sdi0
		     &i2s0_sdi1
		     &i2s0_sdi2
		     &i2s0_sdo0>;
	status = "okay";

	i2s0_8ch_p0: port {
		i2s0_8ch_p0_0: endpoint {
			dai-format = "i2s";
			mclk-fs = <256>;
			remote-endpoint = <&es8326_p0_0>;
		};
	};
};

&i2s5_8ch {
	status = "okay";
};

&pcie30phy {
	status = "okay";
};

&pcie3x4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie3_reset>;
	reset-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie30>;
	status = "okay";
};

&pdm1{
	pinctrl-names = "default";
	pinctrl-0 = <&pdm1m1_clk &pdm1m1_sdi0>;
	pinctrl-1 = <&pdm1m1_idle>;
	pinctrl-2 = <&pdm1m1_clk &pdm1m1_clk1>;
	status = "okay";
};

&pinctrl {
	audio {
		hp_detect: headphone-detect {
			rockchip,pins = <1 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		headphone_amplifier_en: headphone-amplifier-en {
			rockchip,pins = <2 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		speaker_amplifier_en: speaker-amplifier-en {
			rockchip,pins = <2 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	bluetooth {
		uart1_gpios: uart1-gpios {
			rockchip,pins = <1 RK_PD6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_reset_gpio: bt-reset-gpio {
			rockchip,pins = <3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_wake_gpio: bt-wake-gpio {
			rockchip,pins = <4 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_irq_gpio: bt-irq-gpio {
			rockchip,pins = <3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	charger {
		charger_int_h: charger-int-h {
			rockchip,pins = <0 RK_PD0 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		dc_det: dc-det {
			rockchip,pins = <0 RK_PD1 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		otg_enable_h: otg-enable-h {
			rockchip,pins = <3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	display {
		hdmi_en: hdmi-en {
			rockchip,pins = <4 RK_PB0 RK_FUNC_GPIO &pcfg_output_high>;
		};

		lcd_backlight_en: lcd-backlight-en {
			rockchip,pins = <4 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		vcc3v3_lcd_edp_en: vcc3v3-lcd-edp-en {
			rockchip,pins = <1 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	gpio-keys {
		sw_lid: sw-lid {
			rockchip,pins = <0 RK_PD2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	gpio-leds {
		leds_gpio: leds-gpio {
			rockchip,pins = <3 RK_PC1 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};

	hym8563 {
		hym8563_int: hym8563-int {
			rockchip,pins = <0 RK_PD4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	pcie3 {
		pcie3_reset: pcie3-reset {
			rockchip,pins = <1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		vcc3v3_pcie30_en: vcc3v3-pcie30-en {
			rockchip,pins = <3 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <0 RK_PC7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	// for kaihong botbook
	toudchpad {
		tp_irq_gpio: pen-int-odl {
			rockchip,pins = <0 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		tp_reset_gpio: pen-reset-l {
			rockchip,pins = <1 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <4 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>,
					<3 RK_PC0 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};

	usb-typec {
		typec5v_pwren: typec5v-pwren {
			rockchip,pins = <1 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usbc0_int: usbc0-int {
			rockchip,pins = <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		usbc0_sbu1: usbc0-sbu1 {
			rockchip,pins = <4 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usbc0_sbu2: usbc0-sbu2 {
			rockchip,pins = <4 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <0 RK_PC4 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		wifi_pwren: wifi-pwren {
			rockchip,pins = <3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&pwm13 {
	pinctrl-0 = <&pwm13m1_pins>;
	status = "okay";
};

&pwm15 {
	pinctrl-0 = <&pwm15m1_pins>;
	status = "okay";
};

&rknn_core_0 {
	npu-supply = <&vdd_npu_s0>;
	sram-supply = <&vdd_npu_mem_s0>;
	status = "okay";
};

&rknn_core_1 {
	npu-supply = <&vdd_npu_s0>;
	sram-supply = <&vdd_npu_mem_s0>;
	status = "okay";
};

&rknn_core_2 {
	npu-supply = <&vdd_npu_s0>;
	sram-supply = <&vdd_npu_mem_s0>;
	status = "okay";
};

&rknn_mmu_0 {
	status = "okay";
};

&rknn_mmu_1 {
	status = "okay";
};

&rknn_mmu_2 {
	status = "okay";
};

&saradc {
	vref-supply = <&vcc_1v8_s0>;
	status = "okay";
};

&sdhci {
	bus-width = <8>;
	max-frequency = <200000000>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	no-sd;
	no-sdio;
	non-removable;
	status = "okay";
};

&sdio {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdiom1_pins>;
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	disable-wp;
	keep-power-in-suspend;
	max-frequency = <150000000>;
	mmc-pwrseq = <&sdio_pwrseq>;
	no-mmc;
	non-removable;
	no-sd;
	sd-uhs-sdr104;
	status = "okay";

/*
	brcmf: wifi@1 {
		compatible = "brcm,bcm43752-fmac";
		reg = <1>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PC4 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "host-wake";
		pinctrl-0 = <&wifi_host_wake_irq>;
		pinctrl-names = "default";
	};
*/
};

&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	cd-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
	disable-wp;
	max-frequency = <150000000>;
	no-mmc;
	no-sdio;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_bus4 &sdmmc_clk &sdmmc_cmd &sdmmc_det>;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v3_s3>;
	vqmmc-supply = <&vccio_sd_s0>;
	status = "okay";
};

&sfc {
	pinctrl-names = "default";
	pinctrl-0 = <&fspim1_pins>;
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0x0>;
		spi-max-frequency = <108000000>;
		spi-rx-bus-width = <2>;
		spi-tx-bus-width = <2>;
		vcc-supply = <&vcc_3v3_s3>;
	};
};

&spdif_tx2 {
	status = "okay";
};

&spi2 {
	status = "okay";
	assigned-clocks = <&cru CLK_SPI2>;
	assigned-clock-rates = <200000000>;
	num-cs = <2>;

	pmic@0 {
		compatible = "rockchip,rk806";
		reg = <0x0>;
		#gpio-cells = <2>;
		gpio-controller;
		interrupt-parent = <&gpio0>;
		interrupts = <7 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&pmic_pins>, <&rk806_dvs1_null>,
			    <&rk806_dvs2_null>, <&rk806_dvs3_null>;
		pinctrl-names = "default";
		spi-max-frequency = <1000000>;
		system-power-controller;

		vcc1-supply = <&vcc5v0_sys>;
		vcc2-supply = <&vcc5v0_sys>;
		vcc3-supply = <&vcc5v0_sys>;
		vcc4-supply = <&vcc5v0_sys>;
		vcc5-supply = <&vcc5v0_sys>;
		vcc6-supply = <&vcc5v0_sys>;
		vcc7-supply = <&vcc5v0_sys>;
		vcc8-supply = <&vcc5v0_sys>;
		vcc9-supply = <&vcc5v0_sys>;
		vcc10-supply = <&vcc5v0_sys>;
		vcc11-supply = <&vcc_2v0_pldo_s3>;
		vcc12-supply = <&vcc5v0_sys>;
		vcc13-supply = <&vcc5v0_sys>;
		vcc14-supply = <&vcc_1v1_nldo_s3>;
		vcca-supply = <&vcc5v0_sys>;

		rk806_dvs1_null: dvs1-null-pins {
			pins = "gpio_pwrctrl1";
			function = "pin_fun0";
		};

		rk806_dvs2_null: dvs2-null-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun0";
		};

		rk806_dvs3_null: dvs3-null-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun0";
		};

		regulators {
			vdd_gpu_s0: dcdc-reg1 {
				/* regulator coupling requires always-on */
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_gpu_s0";
				regulator-enable-ramp-delay = <400>;
				regulator-coupled-with = <&vdd_gpu_mem_s0>;
				regulator-coupled-max-spread = <10000>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_npu_s0: dcdc-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_npu_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_log_s0: dcdc-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <800000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_log_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <750000>;
				};
			};

			vdd_vdenc_s0: dcdc-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_vdenc_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_gpu_mem_s0: dcdc-reg5 {
				/* regulator coupling requires always-on */
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-enable-ramp-delay = <400>;
				regulator-name = "vdd_gpu_mem_s0";
				regulator-coupled-with = <&vdd_gpu_s0>;
				regulator-coupled-max-spread = <10000>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_npu_mem_s0: dcdc-reg6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_npu_mem_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_2v0_pldo_s3: dcdc-reg7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <2000000>;
				regulator-max-microvolt = <2000000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_2v0_pldo_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <2000000>;
				};
			};

			vdd_vdenc_mem_s0: dcdc-reg8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_vdenc_mem_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd2_ddr_s3: dcdc-reg9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vdd2_ddr_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_1v1_nldo_s3: dcdc-reg10 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1100000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vcc_1v1_nldo_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1100000>;
				};
			};

			avcc_1v8_s0: pldo-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "avcc_1v8_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd1_1v8_ddr_s3: pldo-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd1_1v8_ddr_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			avcc_1v8_codec_s0: pldo-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "avcc_1v8_codec_s0";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc_3v3_s3: pldo-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vcc_3v3_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vccio_sd_s0: pldo-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vccio_sd_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_1v8_s3: pldo-reg6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vccio_1v8_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd_0v75_s3: nldo-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_0v75_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <750000>;
				};
			};

			vdd2l_0v9_ddr_s3: nldo-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdd2l_0v9_ddr_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vdd_0v75_hdmi_edp_s0: nldo-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-name = "vdd_0v75_hdmi_edp_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			avdd_0v75_s0: nldo-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-name = "avdd_0v75_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_0v85_s0: nldo-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-name = "vdd_0v85_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};

	pmic@1 {
		compatible = "rockchip,rk806";
		reg = <0x01>;
		#gpio-cells = <2>;
		gpio-controller;
		interrupt-parent = <&gpio0>;
		interrupts = <7 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&rk806_slave_dvs1_null>, <&rk806_slave_dvs2_null>,
			    <&rk806_slave_dvs3_null>;
		pinctrl-names = "default";
		spi-max-frequency = <1000000>;

		vcc1-supply = <&vcc5v0_sys>;
		vcc2-supply = <&vcc5v0_sys>;
		vcc3-supply = <&vcc5v0_sys>;
		vcc4-supply = <&vcc5v0_sys>;
		vcc5-supply = <&vcc5v0_sys>;
		vcc6-supply = <&vcc5v0_sys>;
		vcc7-supply = <&vcc5v0_sys>;
		vcc8-supply = <&vcc5v0_sys>;
		vcc9-supply = <&vcc5v0_sys>;
		vcc10-supply = <&vcc5v0_sys>;
		vcc11-supply = <&vcc_2v0_pldo_s3>;
		vcc12-supply = <&vcc5v0_sys>;
		vcc13-supply = <&vcc_1v1_nldo_s3>;
		vcc14-supply = <&vcc_2v0_pldo_s3>;
		vcca-supply = <&vcc5v0_sys>;

		rk806_slave_dvs1_null: dvs1-null-pins {
			pins = "gpio_pwrctrl1";
			function = "pin_fun0";
		};

		rk806_slave_dvs2_null: dvs2-null-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun0";
		};

		rk806_slave_dvs3_null: dvs3-null-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun0";
		};

		regulators {
			vdd_cpu_big1_s0: dcdc-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-coupled-with = <&vdd_cpu_big1_mem_s0>;
				regulator-coupled-max-spread = <10000>;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <1050000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_cpu_big1_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu_big0_s0: dcdc-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-coupled-with = <&vdd_cpu_big0_mem_s0>;
				regulator-coupled-max-spread = <10000>;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <1050000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_cpu_big0_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu_lit_s0: dcdc-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-coupled-with = <&vdd_cpu_lit_mem_s0>;
				regulator-coupled-max-spread = <10000>;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_cpu_lit_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3_s0: dcdc-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vcc_3v3_s0";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vdd_cpu_big1_mem_s0: dcdc-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-coupled-with = <&vdd_cpu_big1_s0>;
				regulator-coupled-max-spread = <10000>;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <1050000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_cpu_big1_mem_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};


			vdd_cpu_big0_mem_s0: dcdc-reg6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-coupled-with = <&vdd_cpu_big0_s0>;
				regulator-coupled-max-spread = <10000>;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <1050000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_cpu_big0_mem_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8_s0: dcdc-reg7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vcc_1v8_s0";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd_cpu_lit_mem_s0: dcdc-reg8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-coupled-with = <&vdd_cpu_lit_s0>;
				regulator-coupled-max-spread = <10000>;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_cpu_lit_mem_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vddq_ddr_s0: dcdc-reg9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vddq_ddr_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_ddr_s0: dcdc-reg10 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <900000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_ddr_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8_cam_s0: pldo-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vcc_1v8_cam_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			avdd1v8_ddr_pll_s0: pldo-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "avdd1v8_ddr_pll_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_1v8_pll_s0: pldo-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_1v8_pll_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3_sd_s0: pldo-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vcc_3v3_sd_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_2v8_cam_s0: pldo-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vcc_2v8_cam_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			pldo6_s3: pldo-reg6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "pldo6_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd_0v75_pll_s0: nldo-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_0v75_pll_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_ddr_pll_s0: nldo-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-name = "vdd_ddr_pll_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			avdd_0v85_s0: nldo-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "avdd_0v85_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			avdd_1v2_cam_s0: nldo-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "avdd_1v2_cam_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			avdd_1v2_s0: nldo-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "avdd_1v2_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};
};

&tsadc {
	status = "okay";
};

&u2phy0 {
	status = "okay";
};

&u2phy0_otg {
	status = "okay";
};

&u2phy1 {
	status = "okay";
};

&u2phy1_otg {
	status = "okay";
};

&u2phy2 {
	status = "okay";
};

&u2phy2_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy3 {
	status = "okay";
};

&u2phy3_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&uart1 {
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m1_xfer &uart1m1_ctsn &uart1m1_rtsn>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "brcm,bcm4362a2-bt", "brcm,bcm43430a1-bt";
		clocks = <&hym8563>;
		clock-names = "lpo";
		device-wakeup-gpios = <&gpio4 RK_PC4 GPIO_ACTIVE_HIGH>;
		host-wakeup-gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>;
		shutdown-gpios = <&gpio3 RK_PB1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&bt_reset_gpio>, <&bt_wake_gpio>, <&bt_irq_gpio>;
		vbat-supply = <&vcc_3v3_s3>;
		vddio-supply = <&vccio_1v8_s3>;
		firmware-name = "brcm/BCM4362A2.hcd";
	};
};

&uart2 {
	pinctrl-0 = <&uart2m0_xfer>;
	status = "okay";
};

&usb_host0_ehci {	// fc800000, PHY: <&u2phy2_host>
	status = "okay";
};

&usb_host0_ohci {	// fc840000, PHY: <&u2phy2_host>
	status = "okay";
};

&usb_host1_ehci {	// fc880000, PHY: <&u2phy3_host>
	status = "okay";
};

&usb_host1_ohci {	// fc8c0000, PHY: <&u2phy3_host>
	status = "okay";
};

&usbdp_phy0 {		// fed80000
	mode-switch;
	orientation-switch;
	pinctrl-names = "default";
	pinctrl-0 = <&usbc0_sbu1 &usbc0_sbu2>;
	sbu1-dc-gpios = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
	sbu2-dc-gpios = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		usbdp_phy0_ss: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc0_ss>;
		};

		usbdp_phy0_sbu: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&usbc0_sbu>;
		};
	};
};

&usbdp_phy1 {		// fed90000
	status = "okay";
};

&usb_host0_xhci {	// fc000000, PHYs: <&u2phy0_otg>, <&usbdp_phy0 PHY_TYPE_USB3>
	usb-role-switch;
	status = "okay";

	port {
		usb_host0_xhci_to_usbc0: endpoint {
			remote-endpoint = <&usbc0_hs>;
		};
	};
};

&usb_host1_xhci {	// USB 3.x, fc400000, PHYs: <&u2phy1_otg>, <&usbdp_phy1 PHY_TYPE_USB3>
	dr_mode = "host";
	status = "okay";
};

&vop {
	/*
	 * If no dedicated PLL was specified, the GPLL would be automatically
	 * assigned as the PLL source for dclk_vop2. As the frequency of GPLL
	 * is 1188 MHz, we can only get typical clock frequencies such as
	 * 74.25MHz, 148.5MHz, 297MHz, 594MHz.
	 *
	 * So here we set the parent clock of VP2 to V0PLL so that we can get
	 * any frequency.
	 */
	assigned-clocks = <&cru DCLK_VOP0_SRC>,
			  <&cru DCLK_VOP1_SRC>,
			  <&cru DCLK_VOP2_SRC>,
			  <&cru DCLK_VOP3>;
	assigned-clock-parents = <0>, <0>, <&cru PLL_V0PLL>, <0>;
	vop-supply = <&vdd_log_s0>;
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vp1 {
	vp1_out_hdmi0: endpoint@ROCKCHIP_VOP2_EP_HDMI0 {
		reg = <ROCKCHIP_VOP2_EP_HDMI0>;
		remote-endpoint = <&hdmi0_in_vp1>;
	};
};

&vp2 {
	vp2_out_edp1: endpoint@ROCKCHIP_VOP2_EP_EDP1 {
		reg = <ROCKCHIP_VOP2_EP_EDP1>;
		remote-endpoint = <&edp1_in_vp2>;
	};
};
